<%= content_tag_for(:tr, @vm) do %>
 <td><%=h @vm.nom %></td><td><%=h @vm.template %></td><td><%# , :class => cycle('odd','even')=h @vm.etat_app.nom %></td><td><%#=h @vm.ip.ip_addr %></td>
 <td><%= link_to 'Remove', vm_path(@vm), :method => :delete %></td>
<% end %>
