<%= @mesapps.each do |a|%>
  <!--div class="card-section"-->
  <li class="custom-card" href="#" data-reveal-id="myModal">
    <p><%= a.apps.nom %></p>
    <p><%= a.roles.nom %></p>
  </li>
<% end%>
<li class="nouvel-card">
  <p>
    Céer une nouvelle App
  </p>
</li>
<div id="myModal" class="reveal-modal" data-reveal arial-labelledby="modalTitle"
      aria-hidden="true" role="dialog">
      <h2 id="modalTitle"> Awesome </h2>
      <p class="lead">Your turn</p>
      <a class="close-reveal-modal" arial-label="Close">&#215;</a>
</div>
