<% @mesapps.each do |mesapp|%>
  <!-- c'est la carte de chaque App -->
  <%#= link_to :url=>{:controller => "apps", :action => "show", :app => mesapp.apps},
    remote: true, onclick: "$('#show_app_modal').modal('show');"do %>
  <%= link_to app_path(mesapp.apps), data: {toggle: "modal", target: "#show_app_modal"}, remote:true,, onclick: "$('#show_app_modal').modal('show');" do%>
    <li class="custom-card">
      <p><%= mesapp.apps.nom %></p>
      <p><%= mesapp.roles.nom %></p>
    </li>
  <% end %>
  <!--div class="modal hide fade" id="show_app_modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">Loading...</div-->
<% end %>

<li class="nouvel-card" data-reveal-id="newApp" href="#">
  <% #= link_to 'Créer une nouvelle App', new_app_path,:id=>'create_app', data: {toggle: 'modal', target: '#content'}%>
  <p>Créer une nouvelle App</p>
</li>
