<% @mesapps.each do |mesapp|%>
  <!-- c'est la carte de chaque App -->
  <%#= link_to :url=>{:controller => "apps", :action => "show", :app => mesapp.apps},remote: true, onclick: "$('#show_app_modal').modal('show');"do data-backdrop="static" ,remote:true%>
  <%= link_to app_path(mesapp.apps), data:{remote:true, traget:"#show_app_modal"} do%>
  <%#= link_to app_path(mesapp.apps),'data-toggle'=>"modal", 'data-target'=> "#show_app_modal" do %>
    <li class="custom-card">
      <p><%= mesapp.apps.nom %></p>
      <p><%= mesapp.roles.nom %></p>
    </li>
  <% end %>

  <div class="modal fade" id="show_app_modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

      </div>
    </div>
  </div>

<% end %>

<li class="nouvel-card" data-reveal-id="newApp" href="#">
  <% #= link_to 'Créer une nouvelle App', new_app_path,:id=>'create_app', data: {toggle: 'modal', target: '#content'}%>
  <p>Créer une nouvelle App</p>
</li>
