<%= @mesapps.each do |app|%>
  <!--div class="card-section"-->
  <li class="custom-card">
    <p>
      render app

    </p>
  </li>
<% end%>
<li class="nouvel-card">
  <p>
    Céer une nouvelle App
  </p>
</li>
