<%= @mesapps.each do |a|%>
  <!--div class="card-section"-->
  <%= link_to app_path(a.apps), :class=>"custom-card" do %>
  <li data-reveal-id="myModal">
    <p><%= a.apps.nom %></p>
    <p><%= a.roles.nom %></p>
  </li>
  <%end%>
  
<% end%>
<li class="nouvel-card">
  <p>
    Céer une nouvelle App
  </p>
</li>
