<%= @mesapps.each do |a|%>
  <!--div class="card-section"-->
  <li class="custom-card">
    <p>
      <%= a.apps.nom %>
      <%= a.roles.nom %>
    </p>
  </li>
<% end%>
<li class="nouvel-card">
  <p>
    Céer une nouvelle App
  </p>
</li>
