<div class="row">

  <div class="container">
    <i class="fi-torso size-48"></i><h3 >Mon APP</h3>
      <div class="col-md-8">
        <ol>
          <%= render 'users/mesapps' %>
        </ol>
      </div>
  </div>

  <div class="container">
    <i class="fi-torsos-all size-48"></i><h3 >Mon Groupe</h3>
  </div>

</div>
