
<div class="row">
  <div class="container mesapps">
      <h3>Mon APP</h3>
      <div class="cards row">
            <%= render 'users/mesapps' %>

      </div>

  </div>

  <div class="container mesgroupes">
    <h3>Mon Groupe</h3>
  </div>


</div>
