<h3>Mon APP</h3>
<div class="container">
  <div class="cards row">

    <%= apps.each do |a| %>

      <div class="card col-xs">
        <h2><%= a.nom %></h2>
      </div>

    <% end %>

  </div>
</div>
