<div class="row">

  <div class="container">
    <h3 class="torso fa-3x">Mon APP</h3>
      <div class="col-md-8">
        <ol>
          <%= render 'users/mesapps' %>
        </ol>
      </div>
  </div>

  <div class="container">
    <h3 class="torsos-all fa-3x">Mon Groupe</h3>
  </div>

</div>
