<div class="mesapps">
  <h3>Mon APP</h3>
  <div class="container ">

      <div class="card col-md-8">
      <%#= @mesapps.each do |a| %>
          <h2><%#= a.nom %></h2>
          <ol class="apps row">
            <%= render @mesapps %>
          </ol>
      <%# end %>
      </div>

  </div>
</div>
