
<div class="row">
  <div class="container">
    <h3>Mon APP</h3>

      <div class="cards row">
          <div class="col-md-8">

              <%= render 'users/mesapps' %>

          </div>
      </div>

  </div>

  <div class="container ">
    <h3>Mon Groupe</h3>
  </div>




</div>
