<div class="row">
  <div class="mesapps">
    <h3>Mon APP</h3>
    <div class="container ">
        <!--div class="col-md-8"-->
          <ol class="apps">
            <%= render 'users/mesapps' %>
          </ol>
    </div>
  </div>

  <div>
    <h3>Mon Groupe</h3>
  </div>


</div>
