<div id="myModal" class="reveal-modal" data-reveal arial-labelledby="modalTitle"
      aria-hidden="true" role="dialog">
      <h2 id="modalTitle"> Awesome </h2>
      <p class="lead">Your turn</p>
      <a class="close-reveal-modal" arial-label="Close">&#215;</a>
</div>
