<h1>Editing App</h1>

<%# form_for @app, :url=> {controller=>'apps', :action=> 'edit'} do |f| %>
<% form_for @app, remote:true do |f| %>
<%= render 'apps/form', :f=> f %>

<%= button_to "Save", @app %>
<%= button_to "Concel", mesapp_path(current_user) %>
<% end %>
