<!--div id="edit_app_modal" class="reveal-modal" class="modal fade" data-reveal arial-labelledby="modalTitle" aria-hidden="true" role="dialog"-->
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 id="modalTitle"> <%= @app.nom %> </h2> <h5 class="app-etat">est en <%=@app.etape_app.nom%></h5>
      </div>
      <div class="modal-body">
        <p class="lead">Gestion Fonctionnel</p>
        <%#= render partial:'apps/edit',locals:{ :app=> @app}, modal:false%>
        <div id="content">

          <%= form_for @app, :url=> {controller=>'apps', :action=> 'edit'} do |f| %>
            <%= render 'apps/form', :f=>f %>

            <div class="modal-footer">
                <% f.submit "Update",class: "btn btn-default"%>
                <a href="#" data-traget="edit_app_modal" class="secondary button"> Annuler</a>
            </div><!-- /.modal-footer -->

          <% end %>

        </div><!-- /.content -->
     </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
<!--/div>< /.modal -->
