<h1>Editing App</h1>

<% form_for @app, :url=> {controller=>'apps', :action=> 'edit'} do |f| %>
<%= render 'apps/form', :locals=>{ :f=>f, app=> @app } %>
<% end %>

<div class="action">
  <%= f.submit "Update"%>
</div>
<%= button_to "Save", @app %>
<%= button_to "Concel", app_path(@app) %>
