
<div id="appModal" class="reveal-modal" data-reveal arial-labelledby="modalTitle"
      aria-hidden="true" role="dialog">
      
      <h2 id="modalTitle"> <%= @app.nom %> </h2>
      <p class="lead">Niveau : <%= @app.niveau %></p>
      <a class="close-reveal-modal" arial-label="Close">&#215;</a>

      <a zf-close="" class="button"> Save </a>
      <a zf-close="" class="button"> Cancel</a>
</div>
