<!-- c'est le dialog modal correspondant en cliquant la carte -->

<div class="modal-header">
  <a class="close" data-dismiss="show_app_modal" >&times;</a>
  <h2 id="modalTitle"> <%= @app.nom %> </h2> <h5 class="app-etat">est en <%=@app.etape_app.nom%></h5>
</div><!-- /.modal-header -->

</div>
<div class="modal-body">
  <p class="lead">Gestion Fonctionnel</p>
  <div id="content">
  <%# form_for @app, :url=> {controller=>'apps', :action=> 'show'}, remote:true do |f| %>
  <%# form_for @app do |f| %>
    <%= form_for @app, :url=> {controller=>'apps', :action=> 'show'} do |f| %>
      <table >
        <tr>
          <th> Title </th>
          <th> Valeur </th>
        </tr>

        <tr><td>Description</td><td><%= @app.description %></td>
        </tr>
      </table>
    <% end %>

    <div class="modal-footer">
      <%#= link_to "Delete", mesapps_url(current_user) ,data:{:confirm => 'Vous etês sure delete cet App?'}, :method => :delete,class="button" %>
      <%#= link_to "Edit", {:controller => "apps", :action => "edit", :id => @app.id,},
        remote: true, onclick: "$('#edit_app_modal').modal();", class="secondary button"%>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <a href="#" data-reveal-id="editModal" class="secondary button"> Edit</a>
    </div><!-- /.modal-footer -->

  </div><!-- /.content -->
</div><!-- /.modal-body -->
