<div class="container">
  <div class="row">
    <div class="column">
      <table class="table table-hover table-bordered">
        <tbody>
          <tr>
            <th> UID </th>
            <th> Role </th>
            <th> Action </th>
          </tr>
          <% @membres.each do |user| %>
	          <tr>
              <td><%= user.uid %></td>
              <td>...</td>
              <td>
                <span class="glyphicon glyphicon-remove-sign"></span>
                <span class="glyphicon glyphicon-list-alt"></span>
                <span class="glyphicon glyphicon-pencil"></span>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
