<div class="container">
  <div class="row">
    <div class="column">
      <table class="table table-hover table-bordered">
        <tbody>
          <% @membres.each do |user| %>
	          <tr>
              <%= user.uid %>
            </tr>
            <tr>
              <span class="glyphicon glyphicon-minus"></span>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
