<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
<li class="active"><a href="#apps" role="tab" data-toggle="tab">Apps</a></li>
<li><a href="#membres" role="tab" data-toggle="tab">Membres</a></li>
<li><a href="#messages" role="tab" data-toggle="tab">Messages</a></li>
<li><a href="#settings" role="tab" data-toggle="tab">Settings</a></li>
</ul>
