<groupe-header >   
   <i class="fi-torsos-all size-72"><h3 ><%= @groupe_user.nom %></h3></i>
</group-header >

<groupe-container >
   <%= render 'groupe_users/nav_tabs' %>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="app">...</div>
  <div class="tab-pane" id="membre">...</div>
  <div class="tab-pane" id="messages">...</div>
  <div class="tab-pane" id="settings">...</div>
</div>
</group-container >
