<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2 id="modalTitle"> <%= @app.nom %> </h2> <h5 class="app-etat">est en <%=@app.etape_app.nom%></h5>
    </div>

    <div class="modal-body">
      <div id="edit-tech">
        <i class="fi-list"><h4 class="lead">Gestion Technique</h4></i>

        <%= form_for @app, :url=> app_service_in_apps_path(@app) do |f| %>
          <%= render 'service_in_apps/form_tech', :f=>f %>

        <% end %>
      </div><!-- /.content -->
    </div><!-- /.modal-body -->
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
