<table class="table table-hover" id="vm-table">
  <caption>VM Configuration</caption>

  <thead>
    <tr>
      <th>Nom</th>
      <th>Template</th>
      <th>Etat</th>
      <th>IP Adresse</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% if vm_installs%>
    <tr class="fields">
      <td>There is no VM</td>
    </tr>
    <% else %>
      <%= vm_installs.each do |vm| %>
        <% render 'service_in_apps/vm_installs', vm_install: vm%>
      <% end %>
    <% end %>

  </tbody>
</table>
