// Place all the styles related to the groupe_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.groupe-header{
  display: block;
  clear: both;
}
.nav-tabs{
  text-align: center;
}
