// Place all the styles related to the groupe_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.groupe-header{
  display: block;
  clear: both;
}
.groupe-container{
  display: block;
  clear: both;
}
i{
  font-size: 4rem;
  padding: 20px 30%;
  
  h3{
    display: inline;
  }
}
.nav-tabs{
  padding-left: 40%;
  padding-top: 20px;
  text-align: center;
}
