// Place all the styles related to the service_in_app controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field{
  padding: 5px;
}
#edit-tech{
  width: 100%;
}
#serv-conf, #vm-conf{
  padding: 10px 5px;
  border-style: solid;
  border-color: #eaeaea;

}
.btn-new-vm{
  display: inline;
  float: right;
  font-size: 1.3rem;
  padding: 3px 6px;
  i{display: inline;}
}
caption { 
    display: table-caption;
    text-align: center;
}
i{
  font-size: 1.3rem;

  &:hover{
    text-decoration: none;
   }
  a{
    text-decoration: none;
    font-size: 12px;
   }
}
