// Place all the styles related to the service_in_app controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field{
  padding: 5px;
}
#serv-conf, #vm-conf{
  padding: 10px 5px;
  border-style: solid;
  border-color: #eaeaea;
  h5{
    display: inline;
  }
}
button .btn{
  display: inline;
  float: right;
  i{
    padding-right: 2px;
    a{
      text-decoration: none;
      font-size: 8px;
     }
  }
}
