// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Users' Apps page


.row{
  margin-left: -15px;
  margin-right: -15px;
}
.row:after,
.row:before{
  content: " ";
  display:table;
}

.container{
  margin-top:0px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: 80px;
  padding: 30px 15px; //bottom top :30, left right :15

  clear:both;
  i {// icon
    font-size: 2.2rem;
    padding-left: 10px;
    float: left;
    h3{
      margin-left:10px;
      list-style:none;
      display:inline;
      font-weight: bold;
    }
  }
}
//grid

.col-md-8,
.row:after,
.row:before {
  clear: both;
}
.clearfix {
  overflow: auto;
}
.col-md-8 li{
  width:200px;
  float: left;
  list-style:none;
  display:inline;

}


.col-md-8 .app-etat{
  list-style:none;
  display:inline;
}

#modalTitle{
  list-style:none;
  display:inline;
}

#new_app_modal .modal-open .navbar-fixed-top,
  .modal-open .navbar-fixed-bottom {
  padding-right: 17px;
}

table tr th, table tr td{
  font-size: 1.5rem;
}
a{
  text-decoration:none;
}
#content{
  clear: both;
}

*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
*:before
*:after{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
