<footer class="footer">
 <small>
  The <a href="https://ubiqube.univ-tours.fr">UbiQube</a> | Copyright&copy 2015
  <a href="http://www.univ-tours.fr/l-universite/direction-des-technologies-de-l-information-et-de-la-communication-dtic--116755.kjsp?RH=1227187482017"> DITIC</a>.
  All Rights Reserved.
</small>
<nav>
  <ul>
   <li><a href="http://www.univ-tours.fr/l-universite/pole-systeme-reseaux-et-telecommunications-116757.kjsp">Contact</a></li>
   <li><%= link_to "About", page_path('about')%></li>
  </ul>
</nav>
</footer>
