<footer class="footer">
 <small>
  &copy The <a href="htpp://ubiqube.univ-tours.fr">UbiQube</a>
  by <a href="ditic.univ-tours.fr">DITIC</a>
</small>
<nav>
  <ul>
   <li><%= link_to "Contact", '#'%></li>
   <li><%= link_to "About", page_path('about')%></li>
  </ul>
</nav>
</footer> 
