<%# navigation styled for Zurb Foundation 5 %>
<nav id="top-bar" class="navbar navbar-inverse" role="navigation">
  <div class="nav navbar-header navbar-left">
    <ul class="title-area">
      <li>
        <% if user_signed_in? %>
          <%= link_to "UbiQube", mesapps_path(current_user), id: "logo" %>
        <% else %>
          <%= link_to "UbiQube", root_path, id: "logo"%>
        <% end %>
      </li>
      <!--li class="name"--><%#= link_to 'Home', root_path %><!--/li-->
      <!--li class="toggle-topbar menu-icon"><a href="#">Menu</a></li-->
      <li class="has-form">
        <div class="large-8 small-9 columns">
          <input type="text" placeholder="Find App">
        </div>
      </li>
      <li>
        <div class="large-4 small-3 columns">
          <a href="#" class="btn">Search</a>
        </div>
      </li>
    </ul>
  </div>

    <div class="nav navbar-nav navbar-right">
      <ul>
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
</nav>
