<%# navigation styled for Zurb Foundation 5 %>
<nav id="top-bar" class="navbar navbar-inverse" role="navigation">
  <div class="nav navbar-header navbar-left">
    <ul class="title-area">
      <li>
        <% if user_signed_in? %>
          <%= link_to "UbiQube", mesapps_path(current_user), id: "logo" %>
        <% else %>
          <%= link_to "UbiQube", root_path, id: "logo"%>
        <% end %>
      </li>
      <!--li class="name"--><%#= link_to 'Home', root_path %><!--/li-->
      <!--li class="toggle-topbar menu-icon"><a href="#">Menu</a></li-->
      <form class="navbar-form" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Find App">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </ul>
  </div>

    <div class="nav navbar-nav navbar-right">
      <ul>
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
</nav>
